body {
  background: #e6e6e6;
  font-family: Arial, Helvetica, sans-serif ;
}

h1 {
   text-align: center;
}

h2 {
  color: #f7b600;
  margin-bottom:  0px;
}

h3 {
  background: #cccccc;
  padding: 3px;
  margin: 2px;
}

.post3-hr {
  border: 1px dotted #e6e6e6;
  z-index: 0;
  clear: both;
}

 p {
  margin: 0px;
}

hr {
border: 1px dotted #e6e6e6;
margin: 8px 0px;
}

span {
  color: white;
}

a {
  text-decoration: none;
}
a.menu {
  padding: 10px;
}

a.menu:link, a.menu:visited {
  color: #FFF;
}
a.menu:hover {
  background: #FFF;
  color: #f7b600;
}

a.postagem {
  padding: 0px;
  margin: 0px;
  width: auto;
}

a.post2 {
  font-size: 14px;
  color: #f7b600;
}
a.post3-link {
  display: block;
  padding: 0px;
  color: #f7b600;
  width: 60px;
}

a.post2:hover {
  text-decoration: underline;
}

a.postagem:link, a.postagem:visited {
  color: #f7b600;
}

#header {
  background: #f7b600;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 16px;
}

#container {

  width: 930px;
  margin: auto;
  position: relative;
  top: 150px;
}
#footer {
  clear:both;
  position: relative;
  bottom: 0px;
  margin: auto;
  padding: 10px;
  background: #cccccc;
  text-align: center;
}
.menu {
  text-align: center;
  padding: 10px;
}

.postagem {
  padding: 10px;
  background: #fff;
  margin: 9px 0px;
  width: 650px;
  float:left;
}
.postagem2 {
  padding: 8px;
  background: #fff;
  margin: 9px 0px;
  width: 230px;
  float:right;
}

.post3 {
  padding: 6px;
  margin: 0px;
  float:right;
}

.text-postagem2 {
  font-size: 13px;
}
